/*MessageBox 组件样式*/
/*没有title/有title，内容仅一行，两个btn*/
.mint-msgbox
    width: 65%
    
.mint-msgbox-wrapper .mint-msgbox
    width: 532px
    border-radius: 24px
    text-align: center
    padding-top: 32px

.mint-msgbox .mint-msgbox-header
    padding: 0

.mint-msgbox-header .mint-msgbox-title
    font-size: 36px
    color: #222222
    line-height: 48px

.mint-msgbox-content .mint-msgbox-message
    font-size: 32px
    line-height: 48px
    color: #222222
    text-align: center

/*特殊情况弹窗 开始*/
.mint-msgbox-message .mint-wrong-password
    font-size: 32px
    line-height: 48px
    color: #222222

.mint-msgbox-message .mint-tel
    margin-top: 8px
    font-size: 32px
    color: #0077C5

.mint-msgbox-message .mint-service-time
    font-size: 28px;
    color: #BBBBBB;

/*特殊情况弹窗 结束*/

.mint-msgbox .mint-msgbox-content
    padding: 16px 28px 33px 28px
    border-bottom: 1px solid #EEEEEE

.mint-msgbox .mint-msgbox-btns
    height: 96px
    line-height: 96px

.mint-msgbox-btns .mint-msgbox-cancel
    border-right: 1px solid #EEEEEE

.mint-msgbox-btns .mint-msgbox-btn
    font-size: 34px
    color: #999999
    text-align: center
    padding: 24px 0

.mint-msgbox-btns .mint-msgbox-confirm
    width: 50%
    color: #0077C5