html, body{
	color: #222;
	padding: 0;
	margin: 0;
	font-size: 14px;
    font-family: "Microsoft YaHei","sans-serif","Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB";
    background: #F6F6F7;
    height: 100%;
}

body, html {-webkit-overflow-scrolling: touch;}
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1471339595'); /* IE9*/
  src: url('../font/iconfont.eot?t=1471339595#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1471339595') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1471339595') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1471339595#iconfont') format('svg'); /* iOS 4.1- */
}


input{
	caret-color: #0077C5;
}

.iconfont{
	font-family:"iconfont";
font-size:16px;font-style:normal;
vertical-align: middle;
}


body,
html,
li,
input,
gloabl,
h2,
th,
input,
nav,
td,
h1,
embed,
blockquote,
ol,
xml,
div,
dl,
dt,
dd,
ul,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
abbr,
p,
header,
hgroup,
Section,
figure,
section,
nav,
article,
aside,
canvas {
	margin: 0;
	padding: 0;
}
/* 去除点击时的外边框 */
input,
textarea {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;font-weight: normal;
}
/* 去除小标签 默认样式 */
i,s {
	font-style: normal;
}
/** 重置 HTML5 元素 **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{
	display: block;
	margin: 0;
	padding: 0;
}
/*vue处理渲染过程出现的问题*/
[v-cloak] {
	display: none !important;
  }
  i,
  a,
  button,
  input,
  li,
  p,
  div {
	font-style: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	border-radius: 0;
	/* For some Androids */
  }

/*input设置disabled之后在ios无法设置字体颜色兼容*/
/* input:disabled, input[disabled]{ 
	color: red; 
	-webkit-text-fill-color:red; 
	-webkit-opacity:1; 
	opacity: 1; 
} */
@media (max-height: 400px) { 
	.fixedLogo {
		display: none;
	}
	.tipsText {
		display: none;
	}
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}
a {
	font-size: 100%;
	border: 0;
	color: #333;
	text-decoration: none;
}
ol,
ul,
li {
	list-style: none;
}

input,textarea{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  	-webkit-appearance: none;
}

.mt8 {
	margin-top: 8px;
}
.mt16 {
	margin-top: 16px;
}
.mt24 {
	margin-top: 24px;
}
.mt32 {
	margin-top: 32px;
}
.mt40 {
	margin-top: 40px;
}
.mt56 {
	margin-top: 56px;
}
.mt0{

margin-top: 0;
}
.pd8 {
	padding: 8px;
}
.pd16 {
	padding: 16px;
}
.pd24 {
	padding: 24px;
}
.pd32 {
	padding: 32px;
}
.pt8{
	padding-top: 8px;
}
.pt16{
	padding-top: 16px;
}
.pt24{
	padding-top: 24px;
}
.pt32{
	padding-top: 32px;
}
.pt40{
	padding-top: 40px;
}
.pt48{
	padding-top: 48px;
}
.pt56{
	padding-top: 56px;
}
.pt0{
	padding-top: 0px;
}
.pl8{
	padding-left: 8px;
}
.pr8{
	padding-right: 8px;

}

.btnActive:hover{
	opacity: 0.5;
}

.mg8 {
	margin-left: 8px;
	margin-right: 8px;
}
.mg16 {
	margin-left: 16px;
	margin-right: 16px;
}
.mg24 {
	margin-left: 24px;
	margin-right: 24px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.disnone{
	display: none;
}
.disblock{
	display: block;
}
/*清除浮动*/
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }

  .clear {
	display: inline-block;
  }

  .clear {
	zoom: 1;
	display: block;
  }

  .clear {
	height: 0px;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	zoom: 1;
  }

  .clearfix {
	*zoom: 1;
  }

  .clearfix:after {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: ".";
  }

* html .clearfix {
	height: 1%;
}
*+html .clearfix {
	min-height: 1px;
}
.p_re {
	position: relative;
}
.p_ab {
	position: absolute;
}
/*常用圆角*/
.rd100{
	border-radius: 100px;
}
.rd10{
	border-radius: 10px;
}
.rd5{
	border-radius: 5px;
}
/*常用字体大小*/
.ft10{
	font-size: 10px;
}
.ft12{
	font-size: 12px;
}
.ft14{
	font-size: 14px;
}
.ft16{
	font-size: 16px;
}
.ft18{
	font-size: 18px;
}
.ft20{
	font-size: 20px;
}
.ft24{
	font-size: 24px;
}
.ft26{
	font-size: 26px;
}
.ft28{
	font-size: 28px;
}
.ft30{
	font-size: 30px;
}
.ft32{
	font-size: 32px;
}
.ft34{
	font-size: 34px;
}

/*字体对齐方式*/
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.tc{
	text-align: center;
}

/*文字溢出省略*/
.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 70%;
	overflow: hidden
  }

.ui-center {
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
	height: 150px
}
.of{
	overflow: hidden;
}

.fb{
	font-weight: bold;

}

/*border实现0.5像素*/
.bd-b {
	position: relative;
	border: none;
  }

.bd-b:after {
	content: " ";
    display: block;
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: inset 0 1px 0 0 #D6D6E3;
    transform: scaleY(0.5);
  }
.bd-l {
	position: relative;
	border: none;
}

.bd-l:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	box-shadow: inset 1px 0 0 0 #D6D6E3;
	transform: scaleX(0.5);
  }
.bd-t {
	position: relative;
	border: none;
}

.bd-t:after {
	content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: inset 0 1px 0 0 #D6D6E3;
    transform: scaleY(0.5);
  }
  
.gbd-b {
	position: relative;
	border: none;
  }

.gbd-b:after {
	content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: inset 0 1px 0 0 rgba(7,116,106,.6);
    transform: scaleY(0.5);
  }
  
.page{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.page .page-center{
	height: 100%;
    -webkit-overflow-scrolling: touch;
	width: 100%;
}

.had-name-select::-webkit-scroller {
	display: none
}
   