//颜色
$white = #fff;
/*tab选中、title等字体颜色*/
$emeraldGreen = #28B4A0; //标题，操作区域可点击文字
/*背景、边框常用颜色*/
$gray = #F8F8F8; //文字区域的底色
$BgGray = #F3F3F3;//body等布局背景色
$darkGreen = #00B3A3;
$borderGray = #EEEEEE;
$whiteGreen = #ACDAD6;
$paleGreen = #F2F8F7
/*字体颜色*/
$lightBorder = rgba(221, 221, 221, .8);
$brightGreen = #07746A; //提示文字，标签状态强调
$lightGreen = rgba(7,116,106,.6); //部分分栏小标题，入口文字颜色
$darkGray = #666666;//提示文案颜色
$inputTipGray = #AAAAAA; //输入区域的提示暗文
$blue = #0077C5; //文字/协议以及联系电话用色
$lightGray = #BBBBBB; //辅助，状态和未选择状态文字颜色
$black = #222; //主要用于一般文字颜色
$lowBlack = rgba(34,34,34,0.2)
$grayness = #999;//主用于说明文字，明细文字，底部加载文字
$lime = #cccccc;//用于签约状态颜色
$earnRed = #ED3B3B; // 错误提示颜色
$menuGray = #252525; // 签约分类.5细线
$wxBg = #f6f6f7;
$wxGreen = #69ADA7;
/*宽度*/
$pageWith = 100%;
/*边距基数  可以使用unit($cardinality, px)来转换单位*/
$cardinality = 8px;

/*常用字体色号*/
.ft_black{
    color: $black;
}
.ft_gray{
    color: $grayness
}
.ft_blue{
    color: $blue
}  
.ft_emeraldGreen{
    color: $emeraldGreen    
}
.ft_brightGreen{
    color: $brightGreen
}
.ft_lightGreen{
    color: $lightGreen    
}
.ft_darkGray{
    color: $darkGray
}
.ft_inputTipGray{
    color: $inputTipGray    
}
.ft_lightGray{
    color: $lightGray    
}
.ft_lime{
    color:$lime   
}
    
/*常用背景色*/
.bg_gray{
	background-color: $gray;
}
.bg_lowBlack
    background-color: $lowBlack;
.bg_BgGray{
	background-color: $BgGray;
}
.bg_white{
	background-color: $white;
}
.bg_darkGreen{
    background-color: $darkGreen
}
.bg_whiteGreen{
    background-color: $whiteGreen
}
.bg_paleGreen{
    background-color: $paleGreen    
}

/* mint-ui  button */

.mint-button-text
  color: $white
  font-size: 34px

.mint-button.mint-btn
  height: 96px
  margin-top: 80px
  width: 100%
  background: $darkGreen
  border: none
  border-radius: 4px
  box-shadow: none

.mint-button.is-disabled
  background: $whiteGreen
