@import 'base.styl'

/*样式模块目录
*help-center 帮助中心*/

/*help-center 帮助中心*/
.help-center .help-center-bg
    width: $pageWith
    height: 176px
    background-size: 100% auto

.help-center .help-center-list
    margin-top: 20px

.help-center-list .help-problem
    padding: 28px 0;
    opacity: 0.6

.help-problem .help-problem-active
    padding-left: 26px
    height: 40px
    line-height: 40px
    border-left: 6px solid #00B3A3

.help-center .help-footer
    margin-top: 48px
    padding-bottom: 32px
    line-height: 33px

/*帮助中心维护*/
.maintain-bg
    height: 100%

.maintain-bg .under-main
    width: 320px
    height: 320px
    background-size: 100% auto
    padding-top: 115px

.help-center .help-maintain
    margin: 72px 0 64px 0

.help-center .help-maintain-contact
    line-height: 48px

 .help-center .help-maintain-tel
     line-height: 40px

.help-center .help-tel-spacing
    margin: 4px 0

.help-center .help-button
    width: 100%
    margin: 0 auto

.help-button .help-maintain-button
    width: 226px
    height: 80px
    background-color: #00B3A3
    border-radius: 4px
    line-height: 42px
    color: $white

button
    margin:0
    padding:0
    list-style-type:none
    border:none
    outline: none;
